<% if @list.errors.any? %>
  <ul>
    <% @list.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>

<div class="panel-body">
<h1>Add a List: </h1>
<%= form_for @list do |f|%>
<%= f.text_field :title, :placeholder => "Title Here" %>
<button>Create</button>
<% end %>
</div>